.item{
  height: 800px;
  width: 200px;
  background-color: yellow;
  border: black 2px solid;
  margin: 5px;
  padding: 5px;
}
#div1{
	background-color: blue;
	display: flex;
}
#topdiv{
	height: 75px;
	background-color: violet;
	margin: 5px;
	padding: 5px;
	border: black 2px solid;
}
#div3{
	flex-grow: 1;
	animation-name: div3background;
	animation-duration: 20s;
	animation-iteration-count: 50;
	animation-direction: alternate;
}
li ul{
	display: none;;
	color: green;
}
li:hover ul{
	display: block;
}
#div2{
	font-size: 22px;
}
h1{
	font-size: 50px;
}
#head2{
	padding-left: 750px;
}
p{

	font-size: 20px;
}
#link1{
	font-size: 25px;
	padding-left: 700px;
}

@keyframes div3background{
	0%{
		background-image: linear-gradient(blue,red,yellow);
	}
	20%{
		background-image: radial-gradient(indigo,orange,grey);
	}
	40%{
		background-image: linear-gradient(blue,yellow,red);
	}

	60%{
		background-image: radial-gradient(yellow,blue,red);
	}
	80%{
		background-image: linear-gradient(orange,indigo,green);
	}
	100%{
		background-image: radial-gradient(red,violet,yellow);
	}
}
@media  (max-width: 1000px)  {
  .item{
  	height: 2500px;
  	width: 600px;
  }
  #div3{
  	order: -1;
  	width: 300px;
  }	
  #div2{
  	width: 150px;
  }
  #div4{
  	width: 150px;
  }
  #topdiv{
  	width: 600px;
  }
  #div1{
  	width: 600px;
  }
  #link1{
  	padding-left: 1px;
  }
  #head2{
  	padding-left: 1px;
  }

}
@media (max-width: 1200px){
	#link1{
		padding-left: 1px;
	}
} 